/* This rule is read by Galleria to define the gallery height: */
#galleria{
	height: 720px;
	margin: 10px 0 20px 0;
}
#galleria .galleria-image img {
	margin: 0 !important;
}
@media screen and (max-width: 992px) {
  	#galleria{
		height: 520px;
	}
}

@media screen and (max-width: 592px) {
  	#galleria{
		height: 400px;
	}
}